build_msvc/pocketcoin.sln
.vscode

*.tar.gz

db4
mine1.sh
mine2.sh

*.exe
*.pdb
src/pocketcoin
src/pocketcoind
src/pocketcoin-cli
src/pocketcoin-gui
src/pocketcoin-node
src/pocketcoin-tx
src/pocketcoin-wallet
src/test/fuzz/*
!src/test/fuzz/*.*
src/test/test_pocketcoin
src/qt/test/test_pocketcoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.cache
config.log
config.status
configure
libtool
src/config/pocketcoin-config.h
src/config/pocketcoin-config.h.in
src/config/stamp-h1
src/obj
share/setup.nsi
share/qt/Info.plist

.idea
cmake-build-debug

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/pocketcoin-qt.config
src/qt/pocketcoin-qt.creator
src/qt/pocketcoin-qt.creator.user
src/qt/pocketcoin-qt.files
src/qt/pocketcoin-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
src/**/Makefile
Makefile
doc/Makefile
!depends/Makefile
src/qt/pocketcoin-qt
Pocketcoin-Qt.app

# Qt Creator
Makefile.am.user

# Unit-tests
Makefile.test
pocketcoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# Previous releases
releases

#lcov
*.gcno
*.gcda
/*.info
test_pocketcoin.coverage/
total.coverage/
fuzz.coverage/
coverage_percent.txt
/cov_tool_wrapper.sh
qa-assets/

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
test/.mypy_cache/

!src/leveldb*/Makefile

/doc/doxygen/

libpocketcoinconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/
*.background.tiff

/confdefs.h
/build_msvc/pocketcoind/testdb
/build_msvc/pocketcoind/dbMessage
/.vs
/build_msvc/libpocketcoin_server/pocketdbworker.cpp
*.user
conf
**/.cache
